<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Конвертер чисел в слова</title>
    <meta name="description" content="Простой и быстрый конвертер чисел в слова на английском, немецком и чешском языках.">
    <meta name="keywords" content="конвертер чисел, числа в слова, английский, немецкий, чешский, онлайн-конвертер">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .center-screen {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        .center-screen button {
            font-size: 2em;
        }
    </style>
</head>
<body>
    <div class="container center-screen">
        <h1>Добро пожаловать в конвертер чисел в слова!</h1>
        <p>Этот сервис поможет вам преобразовать числа в слова на английском, немецком и чешском языках.</p>
        <a href="/convert/" class="btn btn-primary btn-lg">Convert</a>
    </div>
</body>
</html>
